body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  .w{
height:100%;
width: 30rem;
overflow: hidden;
@media screen and (min-width: 30rem) {
  width: 48rem
}

@media screen and (min-width: 48rem) {
  width: 100%;
}
  }
