.wrapper {
  padding-left: 40px;
  height: 756px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.menu {
  margin-top: 2rem;

  div {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #212121;
    margin: 1rem;
    &:hover {
      color: #2196f3;
    }
  }
}
.nav_adress {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 5px 0;
    &:nth-of-type(1) {
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
    }
    &:hover {
      color: #2196f3;
    }
  }
}
.close {
  position: absolute;
  top: 2%;
  right: 3%;
  fill: #212121;
  &:hover{
    fill: #2196f3;
  }
}
.block_nav {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
  
    a {
      color: #2196f3;
      text-decoration: none;
      padding: 0 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      /* Тут надо испоравить */
    }
  
}
.first {
  padding: 0; 
}