.block {
  width: 480px;
  height: 400px;
  background-image: url(../../../public/img/sectionImg.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  z-index: 0;
}

.btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.block_main {
  z-index: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
  }
}
.block_card {
  width: 480px;
  height: 2761px;
  background: #f5f4fa;
  padding: 0 17px;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #212121;
    align-items: center;
    text-align: center;
    padding-top: 60px;
  }
}
.block_card_person {
  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #212121;

    display: block;
    margin-bottom: 30px;
  }
  .block_card_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


