.wrapper {
  width: 480px;
  height: 650px;
  background: #2f303a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 768px;
    height: 464px;
    .block_infoPhone_social {
      display: flex;
    }

    .block_infoPhone {
      margin-right: 75px;
      text-align: center;
    }
    .block_social {
      margin-left: 75px;
    }
    .block_email {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 48rem) {
    width: 100%;
    display: flex;
    height: 251px;
    align-items: center;
    .block_infoPhone {
   
      .title {
        text-align: start;
      }
      text-align: start;
    }
    h3{
      text-align: start;
    }
    .input{
      width: 358px;
    }
    .block_email{
      display: flex;
      align-items: center;
      .block_email_block{
        display: flex;
        flex-direction: row;
        
        .svg_block{
          margin-left: 5px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  p {
    margin-top: 12px;

    a {
      color: rgba(255, 255, 255, 0.6);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-decoration: none;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 60px;
    color: #ffffff;
  }
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-align: center;
  margin-top: 60px;
  span {
    color: #2196f3;
  }
}

.text_map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: 28px;
}
.svg_block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .svg {
    margin: 0 10px;
    cursor: pointer;
    fill: white;
    &:hover {
      fill: #0889f3;
    }
  }
}

.input {
  width: 420px;
  outline: none;
  border: none;
  margin-top: 20px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0px 15px 16px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.btn {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}
.title_niz {
  margin-top: 60px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.block_email_block{
  display: flex;
    flex-direction: column;
    align-items: center;
}