.block {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;

  .logo , .logo1 , .logo2 , .logo3 , .logo4 , .logo5 {
    fill: #afb1b8;
&:hover{
    fill: #2196f3;
}
  }
&:hover {
   
    border-color:  #2196f3;
}
 
}
